@font-face {
    font-family: "kandevane";
    src: url(./font/Khandevane.ttf);
    font-family: "maneli";
    src: url(./font/maneli.ttf);
    font-family: "gandom";
    src: url(./font/Gandom.ttf);
  }
.title{
    font-family: "maneli";
    text-align: center;
    color: #f72585;
    font-size: 60px;
    margin-top: -10px;
}
.home_href{
    position: fixed;
    top: 2%;
    left: 96%;
    width: 40px;
    height: 40px;
    z-index: 5;
}